/* HTML-STRUCTURE
--> nav     .top-nav
    section .banner .stay-home
    section .cover
    section .banner .tnw-2020
    section .latest-news
    section .index-co
    section .categories
    section .latest-deals
    footer

/* MAIN */

body {
  box-sizing: border-box;
  font-family: Maquette,Helvetica Neue,Arial,sans-serif;
  font-size: 14px;
  color: #333;
}
h1 {
  font-size: 25px;
  font-weight: bold;
  color: #f42;
  margin-top: 20px;
  margin-bottom: 20px;
}
h1 > a:hover {
  color: #222;
}
a {
  text-decoration: none;
  color: inherit;
}
.wrapper {
  max-width: 1192px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
}
.wrapper > * {
  margin: 40px 0;
}
b {
  font-weight: bold;
}

/* TOP-NAV */

.top-nav {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 110px;
  display: grid;
  grid-template-columns: 106px 1fr;
  grid-template-rows: 48px;
  background-color: #fff;
}
.top-nav .logo {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-nav img {
  height: 16px;
}
.nav-1 {
  align-items: center;
  background-color: #111;
}
.nav-1 > li {
  font-size: 13px;
  padding-left: 12px;
  color: #aaa;
}
.nav-1 > li:first-child {
  padding-left: 20px;
  color: #fff;
}
.nav-1 > li:nth-last-child(4) {
  margin-left: auto;
}
.nav-1 > li:last-child {
  padding-right: 20px;
}
.nav-1 > li a:hover {
  color: #fff;
}
.nav-2 {
  display: flex;
}
.nav-2 .search,
.nav-2 .hamburger {
  height: 100%;
  width: 48px;
  border-left: 1px solid #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-2 .search img,
.nav-2 .hamburger img {
  height: 20px;
  opacity: 0.5;
}
.nav-2 .search img:hover,
.nav-2 .hamburger img:hover {
  opacity: 1;
}
.nav-2 .search {
  margin-left: auto;
}
.nav-2 li {
  display: inline;
}
.nav-2 .nav-2-menu {
  align-items: center;
  text-transform: uppercase;
  font-family: Shentox, sans-serif;
}
.nav-2 .nav-2-menu > li {
  padding: 0 8px;
  color: #aaa;
}
.nav-2 .nav-2-menu > :first-child {
  padding-left: 16px;
}
.nav-2 .nav-2-menu a:hover {
  color: #000;
}
.nav-2 .countdown {
  align-items: center;
}
.nav-2 .countdown > li {
  padding: 10px;
}
.nav-2 .countdown > li:first-child {
  font-size: 20px;
}
.nav-2 .countdown a {
  color: #f42;
  font-family: 'Courier New', Courier, monospace;
  font-size: 22px;
}
.nav-2 .countdown button {
  padding: 8px 12px;
  background-color: #0cc;
  border: none;
  border-radius: 3px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
}
.nav-2 .countdown button:hover {
  background-color: #90c;
}
.stay-home {
  grid-column: 1 / -1;
  background-color: #fd3;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
.nav-1,
.nav-2 .nav-2-menu,
.nav-2 .countdown {
  display: none;
}

/* COVER */

.cover {
  margin: 8px;
  padding-top: 104px;
  display: grid;
  grid-auto-rows: 215px;
  grid-gap: 8px;
}
.cover > article {
  position: relative;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.cover > article:first-child {
  background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("../images/robot.png");
}
.cover > article:nth-child(2) {
  background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("../images/kid.jpg");
}
.cover > article:last-child {
  background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("../images/phone-coins.png");
}
.cover header {
  position: absolute;
  bottom: 15px;
  left: 10px;
}
.cover h2,
.cover h3 {
  color: #fff;
}
.cover h2 {
  font-weight: bold;
  font-size: 20px;
  margin: 5px 0;
}
.cover h3 {
  font-size: 14px;
  text-transform: uppercase;
}
.cover li {
  display: inline;
  margin-right: 15px;
  color: #aaa;
}
.cover li > a:hover {
  color: #fff;
}
.cover div {
  display: none;
  margin: 15px;
  justify-content: space-between;
  align-items: flex-start;
  color: #fff;
}
.cover div img {
  height: 90px;
}

/* BANNER TNW-2020 */

.tnw-2020 {
  background: linear-gradient(to right bottom, rgb(105, 105, 190), rgb(165, 89, 89));
  height: 90px;
  width: 728px;
  overflow-x: hidden;
  margin: 40px auto;
  display: grid;
  grid-template: 50% 50% / 30% 40% 30%;
  grid-template-areas: "logo daycount .       "
                       "date daycount be-there";
  align-items: center;
}
.tnw-2020 img {
  height: 20px;
}
.tnw-2020 > p {
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
.tnw-2020 .logo {
  grid-area: logo;
  padding-top: 10px;
  font-size: 30px;
}
.tnw-2020 .date {
  grid-area: date;
  font-size: 16px;
  padding-bottom: 10px;
}
.tnw-2020 .daycount {
  grid-area: daycount;
  text-align: center;
  font-size: 50px;
}
.tnw-2020 .daycount strong {
  font-size: 80px;
}
.tnw-2020 > p:last-child {
  grid-area: be-there;
  color: #0cc;
  font-weight: bold;
  text-align: right;
  text-transform: uppercase;
  padding-bottom: 10px;
}

/* LATEST-NEWS */

.latest-news ul {
  display: grid;
  grid-gap: 16px;
  grid-auto-rows: 75px;
}
.latest-news li {
  background-color: #fff;
  display: grid;
  grid-template-columns: 75px 1fr;
  grid-gap: 10px
}
.latest-news img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.latest-news .article h4 {
  font-weight: bold;
  margin: 4px 0 6px 0;
}
.latest-news .article h4 > a:hover {
  color: #f42;
  text-decoration: underline;
}
.latest-news .article p {
  color: #bbb;
  font-size: 13px;
}
.latest-news .article p > a:hover {
  color: #555;
}

/* INDEX-CO */

.index-co > header {
  margin-bottom: 20px;
}
.index-co > header li {
  color: #f42;
  margin-top: 12px;
}
.index-co > header li:first-child {
  color: #f42;
  margin-top: 0;
}
.index-co > header li a:hover {
  color: #222;
}
.index-co > header li span {
  display: none;
}
.index-co > ul {
  display: grid;
  grid-gap: 20px;
}
.index-co .article {
  background-color: #fffaf8;
  position: relative;
}
.index-co .article img {
  height: 60px;
  width: 60px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.index-co .article h4 {
  background-color: #f42;
  padding: 12px 80px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
.index-co .article .money {
  background-color: rgba(255,68,34,.08);
  padding: 12px 80px;
}
.index-co .article .money p:first-child {
  font-size: 18px;
  padding-bottom: 8px;
  font-weight: bold;
}
.index-co .article .money p:last-child {
  font-size: 10px;
  text-transform: uppercase;
  color: #777;
}
.index-co .article .investment {
  padding: 12px 10px;
}
.index-co .article .investment p {
  font-size: 13px;
  line-height: 2;
}
.index-co .article .investment a {
  padding-left: 8px;
}
.index-co .article .investment a:hover {
  color: #000;
}
.index-co .article > p {
  padding: 12px 10px;
  font-size: 12px;
  line-height: 1.8;
  border-top: 1px solid rgba(255,68,34,.25);
}
.index-co .article > p em {
  color: #aaa;
}
.index-co .article:last-child {
  display: none;
}

/* CATEGORIES */

.categories {
  display: grid;
  grid-gap: 20px;
}
.categories > section {
  background-color: #fff;
}
.categories article {
  position: relative;
  margin-bottom: 2px;
  overflow: hidden;
}
.categories article:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 75%;
}
.categories > section:nth-child(odd) header {
  background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("../images/bitcoin.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.categories > section:nth-child(even) header {
  background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("../images/apps.png"); 
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.categories article > header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  line-height: 1.2;
}
.categories .title {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.categories article p:first-child {
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
}
.categories article h2 {
  margin: 5px 0;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
.categories article h2 a:hover {
  text-decoration: underline;
  text-decoration-color: #999;
  text-decoration-thickness: 1px;
}
.categories article p:last-child {
  font-size: 10px;
  color: #ccc;
}
.categories article p:last-child a:hover {
  color: #fff;
}
.categories .latest {
  background-color: rgba(255,68,34,.08);
  height: 96px;
  color: #f42;
  padding-left: 10px;
}
.categories .latest img {
  float: right;
  height: 100%;
  width: 96px;
  object-fit: cover;
}
.categories .latest p {
  margin-top: 10px;
  margin-bottom: 4px;
  text-transform: uppercase;
}
.categories .latest h3 {
  font-weight: bold;
}
.categories .latest h3 a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}
.categories ul {
  list-style-type: disc;
  padding-left: 10px;
}
.categories li {
  padding: 10px 0;
  font-size: 13px;
  border-bottom: 1px solid #eee;
}
.categories li a:hover {
  color: #000;
}

/* LATEST-DEALS */

.latest-deals header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: #f42;
}
.latest-deals header > div a:hover {
  color: #000;
}
.latest-deals > ul {
  display: grid;
  grid-gap: 16px;
  grid-auto-rows: 75px;
}
.latest-deals li {
  display: grid;
  grid-template-columns: 75px 1fr;
  grid-gap: 10px;
}
.latest-deals img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.latest-deals .article h4 {
  font-weight: bold;
  margin: 4px 0 6px 0;
}
.latest-deals .article h4 > a:hover {
  color: #f42;
  text-decoration: underline;
}
.latest-deals .article p {
  font-size: 14px;
}
.latest-deals .article p span {
  color: #bbb;
  font-size: 12px;
  text-decoration: line-through;
}

/* FOOTER */

footer {
  text-align: center;
  color: #ccc;
}
.bottom-nav {
  background-color: #131313;
  padding: 30px 0;
}
.bottom-nav .social-media {
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}
.bottom-nav .social-media li {
  display: flex;
  margin: 0 10px;
}
.bottom-nav .social-media a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid #333;
  border-radius: 50% 50%;
  background-color: #333;
}
.bottom-nav .social-media a:hover {
  background-color: #000;
}
.bottom-nav .social-media span {
  font-size: 25px;
  display: block;
}
.bottom-nav .links li {
  display: inline;
  padding: 0 5px;
  text-transform: uppercase;
  font-size: 12px;
}
.bottom-nav li a:hover {
  color: #fff;
}
footer div {
  background-color: #000;
  padding: 25px 0;
}
footer div img {
  height: 8px;
}
footer div span {
  display: block;
  line-height: 1.5;
  font-size: 12px;
}

/* MEDIA-QUERIES */

@media screen and (min-width: 750px) {

  /*TOP-NAV*/
  .top-nav {
    grid-template-rows: 32px 48px;
    position: sticky;
    top: -32px;
  }
  .top-nav .logo {
    grid-row: span 2;
  }
  .top-nav .nav-1,
  .top-nav .nav-2-menu {
    display: flex;
  }
  .top-nav .hamburger {
    display: none;
  }
  .stay-home {
    justify-content: flex-start;
  }
  .stay-home a {
    margin-left: 122px;
  }

  /*COVER*/
  .cover {
    grid-template-columns: 2fr 1fr;
    padding-top: 0px;
  }
  .cover > article:first-child {
    grid-row: span 2;
  }
  .cover > article:first-child h2 {
    font-size: 35px;
  }
  .cover > article {
    background-size: cover;
  }

  /*LATEST-NEWS*/
  .latest-news ul {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
  }
  .latest-news .article {
    grid-template-columns: 1fr;
    grid-auto-rows: auto 1fr;
  }
  .latest-news .img {
    position: relative;
    overflow: hidden;
  }
  .latest-news .img:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%;
  }
  .latest-news .article img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

  /*INDEX-CO*/
  .index-co > header li {
    display: inline;
    font-size: 16px;
  }
  .index-co > header li span {
    display: inline;
    padding: 0 5px;
  }
  .index-co > ul {
    grid-template-columns: repeat(3, 1fr);
  }

  /*CATEGORIES*/
  .categories {
    grid-template-columns: repeat(2, 1fr);
  }

  /*LATEST-DEALS*/
  .latest-deals > ul {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
  }
  .latest-deals .article {
    grid-template-columns: 1fr;
    grid-auto-rows: auto 1fr;
  }
  .latest-deals .img {
    position: relative;
    overflow: hidden;
  }
  .latest-deals .img:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 50%;
  }
  .latest-deals .article img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  
  /*FOOTER*/
  footer > div span {
    display: inline;
  }
}

@media screen and (min-width: 1024px) {
  
  /*TOP-NAV*/
  .top-nav {
    grid-template-columns: none;
  }
  .top-nav .logo {
    display: none;
  }
  .stay-home a {
    margin-left: 15px;
  }

  /*COVER*/
  .cover {
    grid-template-rows: 270px 270px;
  }
  .cover div {
    display: flex;
  }

  /*LATEST-NEWS*/
  .latest-news ul {
    grid-template-columns: repeat(4, 1fr);
  }
  .latest-news .article h4 {
    font-size: 1.2em;
  }

  /*INDEX-CO*/
  .index-co header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .index-co > header ul {
    margin-left: auto;
  }
  .index-co > ul {
    grid-template-columns: repeat(4, 1fr);
  }
  .index-co .article:last-child {
    display: block;
  }

  /*CATEGORIES*/
  .categories {
    grid-template-columns: repeat(3, 1fr);
  }

  /*LATEST-DEALS*/
  .latest-deals ul {
    grid-template-columns: repeat(4, 1fr);
  }
  .latest-deals .article h4 {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 1100px) {

  /*TOP-NAV*/
  .top-nav .countdown {
    display: flex;
  }
}
